<h1>New Adopter</h1>

  <form action="/adopters" method="post">
    <div class="labelName">
      <label for="name">Name:</label>
      <input id="name" type="text" name="name" required="required">



      <label for="alreadyAdopted">Other anmials:</label>
      <input id="alreadyAdopted" type="text" name="alreadyAdopted" required="required">


      <input type="submit" value="New Adopter"/>

  </form>
